html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 50vw;
}

.first {
  background-color: grey;
}

.second {
  background-color: green;
}

.third {
  background-color: blue;
}

.fourth {
  background-color: #6b5454
}

.s-button-prev, .s-button-next {
    width: 3.5vw;
    height: 3.5vw;
    position: relative;
  
    z-index: 2;
    justify-content: center;
    align-items: center;
    /*background-color: grey;*/
    cursor: pointer;
    box-shadow: 0px 0px 7px white;
    bottom: 10vw;
  }
  

.arrow-image {
    width: 3.5vw;
    height: 3.5vw;
  }

.slider-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5vw;
}

.slider-section-heading {
margin-top: 0;
margin-bottom: 0;
font-size: 6vw;
line-height: 11vw;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
